body {
    width: 100%;
    height: auto;
    font-family: 'Cairo', sans-serif;
    background-repeat: round;
    background-size: cover;
    margin: 0;
}

.search_box{
    background-color: #eee;
}

.container {
    width: 100%;
}

.header {
    background-image: url("../img/back.png");
    width: 100%;
    
    background-repeat: round;
    background-size: contain;

}

.footer {
    width: 100%;
    height: 55;
    margin: 5;
    margin-left: 0;
    background-color: #b30000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.f_style {
    font-size: larger;
    font-style: italic;
    font-family: inherit;
    text-align: center;
    padding-top: 13;
    color: #482833;
}

.logo {
    margin-left: 40%;
    width: 300;
    height: 216;
}

.menu_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b30000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content ul {
    list-style: none;
}
.dropdown-content ul li {
    float: none;
    cursor: pointer;
}
.dropdown-content ul li :hover{
    background-color: red;
    
}

.menu_list li {
    float: right;
}

.menu_list li a {
    color:  #d1d1e0;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.menu_list li a:hover {
   background-color: rgba(236, 234, 234, 0.41);
}

.products {
    width: 100%;
    height: auto;
    margin: auto;
}


/******************************************/

.list_product {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0;
    padding-left: 45;
    background-color: rgba(255, 255, 255, 0.43);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list_product::after {
    content: "";
    background: url("/Applications/XAMPP/xamppfiles/htdocs/my_auction/my_auction/img/back.png");
    opacity: 0.2;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.list_product li {
    float: left;
    background-color: white;
    margin-left: 40;
    margin-bottom: 20;
    margin-top: 20;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.list_product li .active {
    color: #5a4a44;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    height: 260;
}
 

.list_product li .active img {
    width: 200;
    height: 200;
}


p {
    font-size: 15px;
    margin: 0;
}

.price {
    font-size: 15;
    color: black;
    margin: 0;
}

.list_product li:hover {
    box-shadow: 0px 6px 12px 0 rgba(0, 0, 0, 0.56), 0 6px 9px 5px rgba(123, 122, 122, 0.19);
}
a.cart {
    text-decoration: none;
    float: right;
    margin: 0 16 10;
    color: #000000;
}
i.fa.fa-heart-o {
    color: #f31d1d;
    font-size: x-large;
    padding-top: 4;

}
.heart {
       margin: 20;
}
i.fa.fa-heart-o:hover{
      font-size: xx-large;
}
.cart:hover{
    color: #e41919;
    font-size: 16.5;
}
hr {
    color: rgba(241, 240, 240, 0.64);
}
body {
    direction: rtl;
}

#meta {
    display: block;
    float: right;
    padding: 41px 0 0 0;
}

#meta li {
    display: block;
    float: left;
    padding: 0 20px 0 0;
}

#meta a {
    display: block;
    float: left;
    font-family: Arial;
    font-size: 11px;
    color: red;
    text-decoration: none;
    padding: 0 0 0 15px;
    background-position: 0px 2px;
    background-repeat: no-repeat;
}

.meta1 {
    background-image: url(images/meta1.gif)
}

.meta2 {
    background-image: url(images/meta2.gif)
}

.meta3 {
    background-image: url(/Applications/XAMPP/xamppfiles/htdocs/my_auction/my_auction/img/nnn.png)
}

.dropbtn {
    background-color: #b30000;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    margin: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: wight;
}

.dropdown-container {
    display: flex;
}

.navbar {
    box-shadow: 0px 0px 10px 0px #999;
    display: flex;
}

.dropdown button:hover {
    color: #b30000;
    background-color: #ccc;
}
.carousel img{
    height:50vh;
    width:auto;
}
.boot .carousel-item.active{
    display:flex;
    justify-content: center;
}
.furniture{
    padding:20px 0;
}
.furniture_item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 200px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    direction: rtl;
}

footer {
    padding: 10px;
    color: white;
    background-color: #b30000;
    text-align:center;
}


nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

.menu_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b30000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register_form div {
    width: 200px;
}

.register_form div input {
    width: 100%;
}